.main {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 4;
}
.indent {
  width: 100px;
}

.search {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 700px;
}

.autoSearch {
  width: 500px;
}
.buttonAdd {
  margin-left: 20px;
  width: 100px;
  height: 35px;
  background-color: rgb(0, 166, 255);
  border: rgb(0, 115, 255) 1px solid;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 2px;
  text-align: center;
  line-height: 30px;
}
.buttonAdd :active {
  box-shadow: -1px -1px 5px 2px;
  border: rgb(0, 115, 255) 5px solid;
}

.loading {
  width: 200px;
  margin: auto;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: auto;
  margin: 100px auto;
  padding-right: -20px;
}
